body {
    margin: 0;
    padding: 0;
  }


  .page-header {
      font-style: inherit;
      text-align: center;
      width: 1730px;
      height: 125px;
  }


 .nav-item {
     margin-top: 20px;
     margin-bottom: 20px;
    text-align: center;
}

.nav-link {
    color: purple ;
}


.nav-link active {
    color: red ;
}


.nav {
    margin-top: 20px;
    height: 900px;
    width: 175px;
}

.feedback {
    width: 1730px;
    text-align: left;
    height: 560px;
}

.feedback button {
    margin-left: 200px;
}

.form-group {
    margin-bottom: 60px;
    margin-left: 200px;
}

.contacts-info {
    margin-top: 100px;
    margin-left: 100px;
    float: left;
    text-align: left;
}

.content {
    width: 1730px;
    text-align: center;
    height: 560px;
    font-size: xx-large;
}

.example1 {
    float: left;
    width: 50%;
}

.example2 {
    float: right;
    width: 50%;
}

.content button {
    margin-top: 100px;
}

.content p {
    font-weight: bold;
    font-size: xx-large;
}

.main-info {
    margin-top: 100px;
    margin-left: 60px;
    float: left;
    text-align: left;
    width: 40%;
}

.main-image {
    margin-top: 100px;
    float: right;
    width: 50%;
}

.extra {
    text-align: center;
    width: 1730px;
    height: 220px;
}

.first {
    margin-top: 20px;
    float: left;
    width: 25%;
}

.second {
    float: left;
    width: 50%;
}

.third {
    margin-top: 20px;
    float: right;
    width: 25%;
}

.page-footer {
    margin-left: 190px;
    height: 30px;
}

input {
    width: 1300px; 
    min-width:1300px; 
    max-width:1300px; 
}

textarea{ 
    width: 1300px; 
    min-width:1300px; 
    max-width:1300px; 
  
    height:200px; 
    min-height:200px;  
    max-height:200px;
  }
